$blue22:#63c3c8;
$blue2:#71a4e8;
$blue10:#c86363;
$blue9:#875e9e;
$blue6:#84c863;
$blue:#6393c8;
$blue7:#173547;
$blue8:#c86363;
$blue4:#a54343;
$grey:#f1f1f1;
$red:#c44d73;
$white: #fff;
$dark-grey:#5f6a7a;
$heroHeight: 100vh;
@import url('https://fonts.googleapis.com/css?family=Monoton|Raleway|Tangerine|Open+Sans|Montserrat|Josefin+Sans:300,400|Lato');
body {
  padding: 0;
  margin: 0;
  background:$grey;
  font-family: "Raleway", serif;
  color: $white;
  overflow:hidden;
}
.half{
  width:50%;
  overflow:hidden !important;
}
.relative{
  position:relative;
}
.flex{
  display:flex;
}
.white{
  background:$white;
  color:$blue;
}
.grey{
  background:$grey;
  color:black;
}
.blue{
  background:$blue;
  color:$grey;
}
.red{
  color:$red;
}
.margin-1{
  margin-top:50px !important;
}
.margin-2{
  margin-top:75px !important;
}
.margin-3{
  margin-top:100px !important;
}
.margin-b-1{
  margin-bottom:50px !important;
}
.margin-b-2{
  margin-bottom:75px !important;
}
.margin-b-3{
  margin-bottom:100px !important;
}
.no-margin{
  margin:0;
}
.margin-1{
  margin-top:50px !important;
}
.margin-2{
  margin-top:75px !important;
}
.margin-3{
  margin-top:100px !important;
}
.margin-b-1{
  margin-bottom:50px !important;
}
.margin-b-2{
  margin-bottom:75px !important;
}
.margin-b-3{
  margin-bottom:100px !important;
}
.no-margin{
  margin:0;
}
.padding-1{
  padding-top:50px !important;
}
.padding-2{
  padding-top:75px !important;
}
.padding-3{
  padding-top:100px !important;
}
.padding-b-1{
  padding-bottom:50px !important;
}
.padding-b-2{
  padding-bottom:75px !important;
}
.padding-b-3{
  padding-bottom:100px !important;
}
.no-padding{
  padding:0;
}
.center{
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
}
.title-clip{
  border-top:1px solid;
  border-color:linear-gradient(to right, $grey 0%,$grey 50%,$blue 50%,$blue 100%);
}
//Loader

#loader1{
  position:fixed;
  z-index:999;//on top of everything
  background:$grey;//background
  height:100vh;//full height
  width:100%;//full width
  display:flex;//to center the loader
  align-items:center;//to center the loader
  text-align:center;//to center the loader
  animation:ease remove 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode:forwards;//lets the loader retain the style values from the last keyframe when the animation ends
}
.load1{
  border:0;
  height:20px;//height of the animated loader
  margin:0;
  background:$blue;//color of the animated loader
  align-items:left !important;
  animation:linear loading 1s;
  animation-fill-mode:forwards;
}
//keyframes to move the <hr> from 0 width to 100%
@keyframes loading{
  from{
    width:0;
  }
  to{
    width:100%;
  }
}

//keyframes to remove the whole loader
@keyframes remove{
  from{
    width:100%;
  }
  to{
    width:0%;
  }
}

//SCROLLBAR!
::-webkit-scrollbar {
  width: 10px;
  position:absolute;
}

/* Track */
::-webkit-scrollbar-track {
    background: $grey;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue;
  transition:all 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:$blue2;
  transition:all 0.2s;
}

#nav-icon1 {
  z-index: 2;
  top: 20px;
  margin:20px 0 0 92%;
  width: 60px;
  height: 45px;
  position: fixed;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  opacity:0;
}
#nav-icon1.fixed {
  opacity:1;
  position:fixed;
}
#nav-icon1 span {
  z-index: 2;
  display: block;
  position: fixed;
  height: 9px;
  width: 100%;
  background: $grey;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon1 span.afterScroll {
  background: $blue;
}
#nav-icon1 span:nth-child(1) {
  top: 0px;
  z-index: 2;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
  z-index: 2;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
  z-index: 2;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  z-index: 2;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background: $blue;
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  z-index: 2;
  left: -60px;
  background: $blue;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  z-index: 2;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: $blue;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: $grey;
  overflow-x: hidden;
  transition: 0.25s;
  justify-content: center;
  display: flex;
  align-items: center;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.overlay a {
  display: table-cell;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform: translateY(-50%);
  display: block;
  padding: 5px;
  text-decoration: none;
  font-size: 36px;
  color: $dark-grey;
  transition: 0.25s;
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
}

.overlay a:hover,
.overlay a:focus {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
  color:$blue;
}
.overlayaf {
  width: 100%;
}
#hero {
  overflow: none;
  position: relative;
  height: $heroHeight;
}
.the-bg-img{
  position:absolute;
  background-position:center;
  background-size:cover;
  background-image:url("images/bg.jpg");
  z-index:-1;
  height:$heroHeight;
  width: 100%;
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#content {
  background-color: $blue;
}
.layer {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: $heroHeight;
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.center {
  display: flex;
  align-items: center;
  text-align: center;
}
.main-title {
  left:50% !important;
  margin:0;
  opacity:1;
  text-align: center;
  font-family: "Monoton";
  font-weight: 200;
  font-size: 10vw;
  color:$grey;
  position:relative;
}
.main-title2 {
  left:-50% !important;
  margin:0;
  opacity:1;
  text-align: center;
  font-family: "Monoton";
  font-weight: 200;
  font-size: 10vw;
  color:$blue;
  position:relative;
}
.icons{
  font-size:25px;
  text-align:center;
  margin:3px;
  color:$grey;
}
.iconss{
  width:100%;
}
.fifty{
  width:50%;
}
@keyframes slide-up {
  0% {
    -webkit-transform:translate(0, 150px);
    -moz-transform:translate(0, 150px);
    -ms-transform:translate(0, 150px);
    -o-transform:translate(0, 150px);
    transform:translate(0, 150px);
    opacity: 0;
  }
  100% {
    -webkit-transform:translate(0, 0px);
    -moz-transform:translate(0, 0px);
    -ms-transform:translate(0, 0px);
    -o-transform:translate(0, 0px);
    transform:translate(0, 0px);
    opacity: 1;
  }
}
.first-section {
  padding: 0;
  height: auto;
  margin:0;
}

.text-header {
  font-size: 40px;
}
.text-centera{
  display:flex;
  align-items:center;
  text-align:center;
}
h1 {
  line-height: 120%;
  margin-bottom: 30px;
}
p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}
#hero,
.layer {
  min-height: 100vh;
}
#hero-mobile {
  display: none;
  background: url("images/conten.png")
    no-repeat center bottom / cover;
  height: 100vh;
}

.layer-bg {
  background:linear-gradient(to right, rgba(99, 147, 200,0.75) 50%, rgba(241, 241, 241,0.75) 50%);
  background-position: center;
}

// Media Queries
@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }
  #hero-mobile {
    display: flex;
    z-index: -1;
    align-items:center;
    text-align:center;
  }
  #nav-icon1{
    width: 50px;
    height: 20px;
    margin:2% 0 0 78%;
  }
  .subtitle-paragraph{
    padding:35px !important;
  }
  .title-paragraph{
    padding:0 25px 0 25px;
  }
  .subtitle{
    padding:0 25px 0 25px;
  }
  .section-2{
    -webkit-clip-path:none !important;
    clip-path:none !important;
  }
  .section-1{
    height:auto !important;
    padding-bottom:50px !important;
    padding-top:50px !important;
  }
}
.container-fluid{
  padding:0;
  margin:0;
  overflow:hidden;
  background:$grey;
}
.hr-decoration{ 
  border-top:1px solid $grey;
  border-bottom:1px solid $grey;
  width:100%;
  margin:0;
}
.second-title{
  margin:0;
}
.section-1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background:$grey;
}
.row .section-2:nth-child(2){
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
  transition:all 0.5s;
}
.row .section-2:nth-child(3){
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 50%, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 80% 50%, 100% 100%, 0% 100%);
  transition:all 0.5s;
}
.row .section-2:nth-child(6){
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
  transition:all 0.5s;
}
.row .section-2:nth-child(7){
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 50%, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 80% 50%, 100% 100%, 0% 100%);
  transition:all 0.5s;
}
.row .section-2:nth-child(10){
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
  transition:all 0.5s;
}
.row .section-2.even{
  -webkit-clip-path: polygon(0% 0%, 0 0, 0 50%, 0 100%, 0% 100%);
clip-path: polygon(0% 0%, 0 0, 0 50%, 0 100%, 0% 100%);
  transition:all 1s;
  animation:dissapear 1s ease;
  animation-fill-mode:forwards;
}
@keyframes dissapear{
  0%{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 50%);
  }
  50%{
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);
clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);
  }
  100%{
    //-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0% 50%);
  //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0% 50%); FLATTTTT
    
    -webkit-clip-path: polygon(20% 0%, 100% 0, 100% 100%, 20% 100%, 0% 50%);
clip-path: polygon(20% 0%, 100% 0, 100% 100%, 20% 100%, 0% 50%);
    
    //-webkit-clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 70%, 0 50%);
//clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 70%, 0 50%); 3D!!!!!!!!!!!!

    font-size:30px;
  }
}
.row .section-2.odd{
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 50%, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 80% 50%, 100% 100%, 0% 100%);
  transition:all 1s;
  animation:second-dissapear 1s ease;
  animation-fill-mode:forwards;
}
@keyframes second-dissapear{
  0%{
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 50%, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 80% 50%, 100% 100%, 0% 100%);
  }
  50%{
    -webkit-clip-path: polygon(0 0, 0 0, 0 50%, 0 100%, 0% 100%);
clip-path: polygon(0 0, 0 0, 0 50%, 0 100%, 0% 100%);
  }
  100%{
    //-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%);
//clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%);FLATTTT
    -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
    font-size:30px;
  }
}
.red{
  color:$blue !important;
}
.section-content{
  z-index:2222;
  padding:0;
  color:$blue;
}
.photo-01{
  background-image:url('images/content.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:100vh;
  margin:0;
  padding:0;
}
.photo-01:nth-child(1).none{
  animation:dissapear2 1s linear;
  animation-fill-mode:forwards;
}
.photo-layer{
  height:100vh;
  padding:10px;
  background-color:rgba(0, 0, 0, 0.66667);
  width:100%;
}
@keyframes dissapear2{
  0%{
    background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
    background-image:url('images/content.png');
  }
  50%{
    background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
    background-image:url('images/content.png');
  }
  51%{
    background:$grey;
  }
  100%{
    background:$grey;
  }
}
.nothing, .nothing2, .nothing3, .nothing4, .nothing5{
  opacity:0;
}
.nothing.appear, .nothing2.appear, .nothing3.appear, .nothing4.appear, .nothing5.appear{
  animation:appear 1s linear;
  animation-fill-mode:forwards;
}
@keyframes appear{
  0%{
    opacity:0;
  }
  50%{
    opacity:0;
  }
  51%{
    opacity:1;
  }
  100%{
    opacity:1;
  }
}
.full-screen{
  height:100vh;
}
.pointer-scene{
  border:1px solid $grey;
}
.col-sm-6{
  padding:0;
  margin:0;
}
.subtitle{
  color:$blue;
  font-size:32px;
  padding-top:40px;
}
.subtitle-paragraph{
  color:black;
  padding:40px;
  text-align:justify;
}
.white-p{
  color:$grey;
}
.title-paragraph{
  font-size:25px;
  color:rgba(0,0,0,0.85);
}
ul{
  list-style-type: none;
}
li{
  text-align:center;
  font-size:20px;
}
.btn{
  text-align:center;
}
.button{
  font-size:18px;
  padding:10px 20px 10px 20px;
  color:$blue;
  background:$grey;
  transition:all 0.2s;
  text-align:center;
}
.aborder{
  border-radius:2px;
  border:2px solid $blue;
  transition:all 0.2s
}
.aborder:hover,
.button:hover{
  border:2px solid $blue;
  color:white;
  background:$blue;
  transition:all 0.2s
}
#js-scene{
  overflow:hidden;
  z-index: -1;
}